<div>
    <table width="80%">
<tr><td>Upper Case Pipe</td><td>{{name | uppercase}}</td></tr>
<tr><td>Upper Case Pipe</td><td>{{name | lowercase}}</td></tr>

    </table>
    <hr/><br>
    <table width="80%">
<tr><td>Date Pipe</td><td>{{date}}</td></tr>
<tr><td>Date Pipe</td><td>{{date |date:'dd/MMM/YYYY' }}</td></tr>
<tr><td>Date Pipe</td><td>{{date |date:'dd-MMM-YYYY'}}</td></tr>
<tr><td>Date Pipe</td><td>{{date |date:'fulldate'}}</td></tr>
<tr><td>Date Pipe</td><td>{{date |date:'fulldate'| uppercase}}</td></tr>
    </table><hr/><br>
    <table width="80%">
        <tr><td>Percent Pipe</td><td>{{0.28377|percent}}</td></tr>
        <tr><td>Currency Pipe</td><td>{{77.3|currency:"USD"}}</td></tr>
    </table>
</div>
